# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
TELEGRAM_CHAT_ID=YOUR_TELEGRAM_CHAT_ID

# Gemini API Keys
GEMINI_API_KEY=YOUR_FIRST_GEMINI_API_KEY
GEMINI_API_KEYS=KEY1,KEY2,KEY3
GEMINI_API_KEY_OVERALL=YOUR_SECOND_GEMINI_API_KEY_FOR_OVERALL_REPORT
